*{
    margin:0px;
    padding:0px;  
    }

#general{
}

#superior{
    
    height:50px;
    background-color: red;
}

#cuerpo{
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width:900px;
    text-align: justify;
    
}

header{
    width:100%;
    height:150px;
    box-shadow: 1px 1px 5px #000;
    position: fixed;
    background:#fff;
}

#menu{
    width: 100%;
    padding: 10px;
    margin-left: 100px;
}

#menu ul a{
    color: #000;
    text-decoration: none;
    font:16px green;
    padding: 13px 20px 19px 20px;
}

#menu ul a:hover{
    color: #f2f2f2;
    background: #6e6e6e;
}